.cards {

    &_title {
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }
    &_text {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #9F9F9F;
        margin-bottom: 48px;
    }  

    .card {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 360px;
        margin-bottom: 30px;
        box-sizing: border-box;
        background: $textcolor;
    
    
        &_box {
            list-style: none;
        }
    
        &_btn {
            display: flex;
            padding: 10px 13px;
            justify-content: center;
            position: absolute;
            display: none;
            top: 200px;
            left: 120px;
            border: 1px solid white;

            a {
                text-decoration: none;
            }

            &_txt {
                display: block;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 14px;
                line-height: 17px;
                color: white;
                padding-left: 10px;
                padding-top: 5px;
            }

        }
    
        &_information {
            display: flex;
            flex-direction: column;
            padding: 25px 28px 20px 16px;
    
            &_title {
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
                color: #000000;
                margin-bottom: 13px;
            }
        
            &_text {
                display: block;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #5D5D5D;
                margin-bottom: 18px;
            }
        }
    
        &_line {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &_price {
            display: block;
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
        }
    }


    /* Реализация наведения на карточку товара*/
    .card:hover .card_img {
        opacity: 0.8;
        filter: brightness(50%);
        transition: 0.3s;
    }

    .card:hover .card_btn {
        display: flex;
    }

    .card_btn:hover {
        background-color: #F16D7F;
        opacity: 0.8;
    }
}


/* кнопка!....Мариаазаааа...*/

.browse {
    display: flex;
    justify-content: center;

    &_button {
        display: flex;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 95px;
        text-align: center;
        border: 1px solid #FF6A6A;            
        padding: 14px 38px;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        text-decoration: none;
    }
    
    &_button:hover {
        color: #000;
        background-color: #FF6A6A;
        opacity: 0.8;
        transition: 0.3s;
    }
}

@media (max-width: 1024px) {
   .for_product {
        .card:last-child {
            display: none;
        }

        .card_box {
            margin-bottom: 129px;
        }
   }

   

}    

@media (max-width: 667px) {

}