.carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.page {
    display: flex;
    list-style: none;
    border: 1px solid #EBEBEB;
    padding: 15px 16px;
    border-radius: 5px;

    &_link {
        text-decoration: none;
        overflow: hidden;
        padding: 0 10px;
        font-weight: 300;
        font-size: 16px;
        color: #636363;
    }

    &_link:hover {
        font-weight: 300;
        font-size: 16px;
        color: #EF5B70;
    }
}

@media (max-width: 1024px) {
   

}    

@media (max-width: 667px) {

}