.filt {
    position: absolute;
    padding-top: 51px;
    padding-bottom: 65px;

    &_main {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.filters {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
    padding-top: 51px;
    padding-bottom: 65px;

    .filter {
        display: flex;

        .choose {
            margin-right: 28px;
        }
    }
}

.type {
    display: none;
}

.filter_txt {
    padding-right: 10px;
}

@media (max-width: 1024px) {
   .filters {
       justify-content: flex-end;
   }

}    

@media (max-width: 667px) {
   .filt {
        &_main {
            display: none;
        }

        svg {
            width: 37px;
            height: 25px;
        }
   }
   
   .choose {
        margin-right: 10px !important;
        font-size: 11px;
   }
}