.offer_box {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    flex-flow: wrap;
    margin-bottom: 96px;

    &_link {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
    }

    &_sale {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        z-index: 5;
    }

    &_title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        text-align: center;
        color:#F16D7F;
        text-transform: uppercase;
        z-index: 6;
    }

    &_card1 {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        background-image: url(../img/forwoman.png);
        background-size: cover;
        width: 360px;
        height: 260px;

    }

    &_card1:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    &_card2 {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        background-image: url(../img/formen.png);
        background-size: cover;
        width: 360px;
        height: 260px;

    }

    &_card2:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    &_card3 {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        background-image: url(../img/forkids.png);
        background-size: cover;
        width: 360px;
        height: 260px;

    }

    &_card3:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    &_card4 {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        background-image: url(../img/accessories.png);
        background-size: cover;
        width: 1140px;
        height: 180px;

    }

    &_card4:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    &_line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        list-style: none;
    }

    &_line_2 {
        list-style: none;
    }     
}

@media (max-width: 1024px) {

    .offer_box {
        &_card1 {
            width: 232px;
            height: 167px;

        }

        &_card2 {
            width: 232px;
            height: 167px;

        }

        &_card3 {
            width: 232px;
            height: 167px;
        }

        &_card4 {
            width: 735px;
            height: 116px;
        }
    }

}    

@media (max-width: 667px) {
    .offer_box {
        &_card1 {
            width: 359px;
            height: 247px;
        }

        &_card2 {
            width: 359px;
            height: 247px;
        }

        &_card3 {
            width: 359px;
            height: 247px;
        }

        &_card4 {
            width: 359px;
            height: 111px;
        }
    }
}