section {
    max-width: 1140px;
    margin: 0 auto;
}

#registration {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
}

#cart {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
}

@media (max-width: 1024px) {
    section {
        max-width: 735px;
        margin: 0 auto;
    }

    #cart {
        flex-direction: column;
    }

}    

@media (max-width: 667px) {
    section {
        max-width: 359px;
        margin: 0 auto;
    }
}